container_commands:
  01changePHP:
    command: sed -i '/PHP_DATE_TIMEZONE/ s/UTC/America\/Denver/' /etc/php-7.3.d/environment.ini
  01achangePHP:
    command: sed -i '/aws.php_date_timezone/ s/UTC/America\/Denver/' /etc/php-7.3.d/environment.ini
  02change_AWS_PHP:
    command: sed -i '/PHP_DATE_TIMEZONE/ s/UTC/America\/Denver/' /etc/httpd/conf.d/aws_env.conf
  03aphp_ini_set:
    command: sed -i '/date.timezone =/c\date.timezone = America\/Denver' /etc/php.ini
  03bphp_ini_set:
    command: sed -i '/date.timezone/ s/UTC/America\/Denver/' /etc/php-7.3.ini
commands:
  01remove_local:
    command: "sudo rm -rf /etc/localtime"
  02link_Buenos_Aires:
    command: "sudo ln -s /usr/share/zoneinfo/US/Mountain /etc/localtime"
  03restart_http:
    command: sudo service httpd restart