container_commands:
  01symlink_php-fpm_config:
    command: ln -sf /etc/php-fpm-7.3.conf /etc/php-fpm.conf
  02php-fpm_config_php:
    command: sed -i 's/:\/run\/php-fpm/:\/var\/run\/php-fpm/' /etc/httpd/conf.d/php.conf
  03php-fpm_config_php-7.3:
    command: sed -i 's/:\/run\/php-fpm/:\/var\/run\/php-fpm/' /etc/httpd/conf.d/php-conf.7.3
  04aphp-fpm_comment_acl_user:
    command: sed -i '/listen.acl_users/c\;listen.acl_users = apache' /etc/php-fpm-7.3.d/www.conf
  04bphp-fpm_comment_acl_group:
    command: sed -i '/listen.acl_groups/c\;listen.acl_groups = apache' /etc/php-fpm-7.3.d/www.conf
  05aphp-fpm_update_listen_user:
    command: sed -i '/listen.owner/c\listen.owner = webapp' /etc/php-fpm-7.3.d/www.conf
  05bphp-fpm_update_listen_group:
    command: sed -i '/listen.group/c\listen.group = webapp' /etc/php-fpm-7.3.d/www.conf
  05cphp-fpm_update_listen_mode:
    command: sed -i '/listen.mode/c\listen.mode = 0660' /etc/php-fpm-7.3.d/www.conf
  06aphp-fpm_update_user:
    command: sed -i '/user = apache/c\user = webapp' /etc/php-fpm-7.3.d/www.conf
  06bphp-fpm_update_group:
    command: sed -i '/group = apache/c\group = webapp' /etc/php-fpm-7.3.d/www.conf
  07php-fpm_reset_php_session_config:
    command: sed -e '/php_value\[/ s/^;*/;/' -i /etc/php-fpm-7.3.d/www.conf
  99restart_php-fpm:
    command: /sbin/service php-fpm-7.3 restart