commands:
  01remove_installed_ddtracer_ifany:
    command: "sudo rpm -e datadog-php-tracer-0.67.0-1.x86_64"
    ignoreErrors: true
  02download_tracer:
    command: "sudo wget https://github.com/DataDog/dd-trace-php/releases/download/0.67.0/datadog-php-tracer-0.67.0-1.x86_64.rpm"
    ignoreErrors: true
  03copy_package:
    command: "mv datadog-php-tracer-0.67.0-1.x86_64.rpm datadog-php-tracer.rpm"
    ignoreErrors: true
  03export_DD_TRACE_PHP_BIN :
    command: "export DD_TRACE_PHP_BIN=$(which php-fpm-7.3)"
    ignoreErrors: true
  04install_tracer:
    command: "sudo rpm -Uvh datadog-php-tracer.rpm"
    ignoreErrors: true
  05restart_php_fpm:
    command: "/sbin/service php-fpm-7.3 restart"
    ignoreErrors: true
  06restart_http:
    command: "sudo service httpd restart"